---
layout: layout.njk
title: kindohm blog/social
---
<p class="intro">Occasional information and updates.
Otherwise I just post things so I don't forget them.</p>

{% for post in collections.posts %}
  <article class="post-summary">
    <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
    <time datetime="{{ post.date | dateISO }}">{{ post.date | dateDisplay }}</time>
    {{ post.content | absoluteImageUrls(post.url) | safe }}
  </article>
{% endfor %}
