<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div class="container">
      <header>
        <a href="/">kindohm blog</a>
        <div class="header-links">
          <a href="/rss.xml">rss</a>
          <a href="https://kindohm.com">kindohm.com</a>
        </div>
      </header>
      <main>
        {{ content | safe }}
      </main>

      <footer>
    © Copyright 2026 Mike Hodnick. Unauthorized duplication may result in {{ metadata.risks | random }}. 
    </footer>
    </div>
  </body>
</html>