<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="kindohm blog hodnick livecoding live-coding algorave code programming music electronic improvisation art audio computer computers tidalcycles synthesizer modular harmor synthesis minneapolis minnesota"/>
    <meta name="description" content="Social and sharing blog of Mike Hodnick a.k.a. Kindohm"/>

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <a class="site-title" href="/">kindohm blog/social</a>
        <nav class="header-links" aria-label="Primary">
          <a href="/rss.xml">rss</a>
          <a href="https://kindohm.com">main site</a>
        </nav>
        <span class="site-mark" aria-hidden="true"></span>
      </header>
      <main>
        {{ content | safe }}
      </main>

      <footer>
        <p>© Copyright 2026 Mike Hodnick. Unauthorized duplication may result in {{ metadata.risks | random }}. </p>
        <p>Built with <a href="https://www.11ty.dev">eleventy</a>
        </p>
      </footer>
    </div>
  </body>
</html>