---
title: "Test upload from curl"
date: 2026-05-17
sourceUploadId: "bedcf1d2-5296-465a-8c94-9f580a1638b8"
sourceVideoFileName: "PXL_20260331_020259120.mp4"
cloudflareStreamUid: "37fc72fd478bfdde15f5e698b83f3d7e"
author: "Video Bot"
---

<stream src="37fc72fd478bfdde15f5e698b83f3d7e"></stream><script data-cfasync="false" defer type="text/javascript" src="https://embed.videodelivery.net/embed/r4xu.fla9.latest.js?video=37fc72fd478bfdde15f5e698b83f3d7e"></script>
